body {
    background-color: #F0F8FF;
    color: #000080;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    position: relative;
}

h1 {
    font-size: 3em;
}

a {
    color: #0000FF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #FF4500;
}

.secret-link {
    position: absolute;
    font-size: 30px;
    color: red;
}
